/* layout */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../img/background.png');
    margin: 0;
    color: #fff;
    font-size: 1em;
}


main {
    background-color: #191919;
    margin: 100px 20px 20px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

section {
    padding-bottom: 40px;
    overflow: hidden;
}

@media (min-width: 768px) {
    main {
        width: 1200px;
        margin: 80px auto;
    }
   .block-first-section{
        margin-left: 25px;
    }
    .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: 500px;
        color: white;
        border-radius: 10px;
    }
}

/* content*/
a{
    text-decoration: none;
    color: #fff;
}

h1, h2, h3 {
    font-family: 'Shadows Into Light', cursive;
    color: #108acd;
}

h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;

}

h2 {
    font-size: 2.5em;
    font-weight: 400;
}

h3 {
    font-size: 1.2em;
}

/*section 1*/
li {
    list-style: none;
}
li a{
     text-decoration: none;
    color: #1571cd;
 }
.block-first-section li{
    list-style: disc;
}
/*section 2*/
.profil figure {
    width: 46%;
    margin: 2%;
    padding: 10px;
    float: left;
    overflow: hidden;
    position: relative;
}

.profil img {
    width: 100%;
}

.profil figure:hover img {
    transform: scale(1.2);
}

.profil figure figcaption {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -35px;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
}

.envoyer {
    display: inline-block;
    background-color: #108acd;
    color: #FFF;
    border: 1px solid #0067a0;
    margin-top: 10px;
    padding: 7px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .profil figure {
        width: 21%;
        margin: 2%;
    }
}

/* footer */

footer {
    background-color: #108acd;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #FFF;
}

@media (min-width: 768px) {
    footer {
        text-align: right;
        padding-right: 40px;
    }
}

.form-contact{
    display: inline-grid;
    justify-content: center;
}

form{
    display: flex;
    justify-content: center;
}

.form-contact>tbody>tr>td:first-child{
    text-align: right;
    color: #1571cd;
}

.block-message{
    border-radius: 25px;
    padding: 10px 50px;
}

.block-center{
    display: flex;
    justify-content: center;
    margin: 25px;
}
.error{
    background-color: #ff7171;
    border: 2px solid #ff0000;
}

.sucess{
    background-color: #71a5ff;
    border: 2px solid #002aff;
}

/***  LISTES ***/

/*couleur bg header*/
.na-bg{
    background-color: #108acd;
}

.navbar-brand {

    font-size: 1.8rem;
}